#
# Environment variables for running locally with Docker Compose
#
# This is a sample file. All environment variables are commented out
# and pre-filled with the default values.
#
NODE_ENV: development
HTTP_PORT: 3000

# RabbitMQ
RABBITMQ_DEFAULT_USER=devuser
RABBITMQ_DEFAULT_PASS=devpass
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=devuser
RABBITMQ_PASS=devpass
RABBITMQ_VHOST=/
